<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
<body>
    <div class="container">
        <div class="header">
            <h1>My Calculator </h1>
            <p> This is a simple calculator for Max, Average and Standard Deviation.</p><br>
        </div>    
        <div class="result">
            <h2>Numbers: {{ num_list }}</h2>
            <h2>{{ operator }}: {{ result }}</h2>
        </div>
    </div>
    <div class="footer">
        <p>JIAJIAYANG.python - RRC 2023</p>
    </div>
    
</body>
</html>